<!DOCTYPE html>
<html lang="en">
<body th:fragment="sidebar">
<div class="sidebar">
    <div class="expand-menu">
        <img th:src="@{/icons/Menu-Expand.svg}" alt="Expandir Menu">
    </div>
    <div class="buttons">
        <div th:include="components/sidebar/button :: button(false)"></div>
        <div th:include="components/sidebar/button :: button(false)"></div>
        <div th:include="components/sidebar/button :: button(true)"></div>
        <div th:include="components/sidebar/button :: button(false)"></div>
        <div th:include="components/sidebar/button :: button(false)"></div>
    </div>
</div>
</body>
</html>