<div th:fragment="help()" class="help-page hidden">
    <div class="page-title">
        <h3>Perguntas frequentes</h3>
        <h4>Confira as perguntas mais frequentes dos nossos usuários.</h4>
    </div>
    <div class="config-page-container">
        <div th:replace="~{components/help-dropdown :: dropdown('Como cadastrar novos clientes?', 'Texto de resposta vai aqui')}"></div>
        <div th:replace="~{components/help-dropdown :: dropdown('Como cadastrar novas propostas?', 'Texto de resposta vai aqui')}"></div>
        <div th:replace="~{components/help-dropdown :: dropdown('Como cadastrar novas interações?', 'Texto de resposta vai aqui')}"></div>
        <div th:replace="~{components/help-dropdown :: dropdown('Como exportar minhas listas?', 'Texto de resposta vai aqui')}"></div>
        <div th:replace="~{components/help-dropdown :: dropdown('Como importar minhas listas?', 'Texto de resposta vai aqui')}"></div>
    </div>
</div>