.confirm-text-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    user-select: none;
    box-sizing: border-box;
    gap: 10px;
}

.confirm-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.confirm-warning {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}