.header-menu {
    position: fixed;
    right: 20px;
    top: 60px;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.header-menu.hidden {
    display: none;
}

.top-section {
    display: flex;
    width: 300px;
    background-color: var(--main-purple);
    color: var(--white);
    gap: 5px;
    padding: 10px 10px;
    border-radius: 10px 10px 0 0;
}

.top-icon svg {
    width: 30px;
    height: 30px;
}

.top-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 30px;
}

.top-text p:last-of-type {
    font-size: 10px;
}

.bottom-section {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

.menu-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.menu-item-container:hover {
    background-color: var(--button-hover);
}

.menu-item-container:last-of-type {
    border-radius: 0 0 10px 10px;
}


