<div th:fragment="header-menu" class="header-menu hidden">
    <div class="top-section">
        <div class="top-icon">
            <div th:replace="~{icons/header-menu/user-header :: user-header}"></div>
        </div>
        <div class="top-text">
            <p>Meu perfil</p>
            <p>Disponível</p>
        </div>
    </div>
    <div class="bottom-section" id="conteudo">
        <div class="menu-item-container profile-configs">
            <div th:replace="~{icons/header-menu/config-header :: config-header}"></div>
            <p>Configurações de perfil</p>
        </div>
        <div class="menu-item-container email-configs">
            <div th:replace="~{icons/header-menu/email-header :: email-header}"></div>
            <p>Configurações de e-mail</p>
        </div>
        <div class="menu-item-container team-configs">
            <div th:replace="~{icons/header-menu/team-header :: team-header}"></div>
            <p>Equipes</p>
        </div>
        <div class="menu-item-container log-out">
            <div th:replace="~{icons/header-menu/sing-out-header :: sing-out-header}"></div>
            <p>Sair</p>
        </div>
        <div class="menu-item-container help-configs">
            <div th:replace="~{icons/header-menu/help-header :: help-header}"></div>
            <p>Obter ajuda</p>
        </div>
    </div>
</div>