.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.table-container {
    width: 100%;
    height: 100%;
    min-width: 900px;
    padding-right: 6px;
    margin-bottom: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

.table-container table {
    position: relative;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
    height: 60px;
    min-height: 60px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.table-header h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-primary);
}

.table-header .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: auto;
    text-wrap: none;
}

.table {
    width: 100%;
    height: 100%;
}

.table thead {
    color: var(--text-secondary);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table tr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

.table thead tr {
    background-color: var(--table-secondary);
    border: 1px solid var(--table-primary);
}

.table tbody tr {
    height: 60px;
    border-left: 1px solid var(--table-primary);
    border-right: 1px solid var(--table-primary);
    border-bottom: 1px solid var(--table-primary);
}

.table tr th,
.table tr td {
    width: 100%;
    text-align: left;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

.table tr th {
    font-weight: 600;
}

.table tr th:first-child,
.table tr td:first-child {
    min-width: 60px;
    max-width: 60px;
}


.table tr th:last-child,
.table tr td:last-child {
    min-width: 220px;
    width: 220px;
    box-sizing: border-box;
    padding-right: 20px;
}

.table-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}