.content-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menu-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.menu-header h2 {
    font-size: 20px;
    line-height: 68px;
    font-weight: 600;
    color: var(--text-primary);
}

.header-options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 41px;
    width: 100%;
}

.header-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 144px;
    cursor: pointer;
    user-select: none;
}

.header-option.disabled {
    cursor: default;
}

.header-option.disabled p {
    color: var(--table-primary);
}

.header-option p {
    font-size: 18px;
    color: var(--text-secondary);
    font-weight: bold;
}

.header-option.selected {
    border-bottom: 2px solid var(--violet);
}

.header-option.selected p {
    color: var(--text-primary);
}

.goals-page,
.help-page,
.profile-page,
.team-page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 109px);
}

.goals-page.hidden,
.help-page.hidden,
.profile-page.hidden,
.team-page.hidden {
    display: none;
}

.page-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--field-focus);
    padding: 20px 40px;
    box-sizing: border-box;
    gap: 10px;
}

.page-title h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-primary);
}

.page-title h4 {
    font-size: 20px;
    color: var(--text-secondary);
}

.config-page-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
    height: calc(100%);
    overflow-y: auto;
}

.config-page-container section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--field-focus);
    padding: 20px 600px 20px 40px;
    box-sizing: border-box;
    gap: 20px;
}

.section-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.section-title h4 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-primary);
}

.section-title h5,
.section-inputs h5 {
    font-size: 20px;
    color: var(--text-secondary);
}

.section-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-width: 580px;
}

.user-data-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.user-data-input .input1-wrapper {
    max-width: 400px;
}

.user-data-input .icon {
    position: absolute;
    right: 6px;
    top: 7px;
}

.user-data-button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.user-data-button .button2 {
    height: 36px;
}

.error-wrapper {
    font-weight: bold;
    color: var(--red);
    opacity: 0;
    user-select: none;
}

.error-wrapper.show {
    opacity: 1;
}

.table-members-container {
    width: 100%;
    height: 100%;
    min-width: 900px;
    margin-bottom: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-top: -10px;
}

.table-members-container table {
    position: relative;
}

.table-members {
    width: 100%;
    height: 100%;
}

.table-members thead {
    color: var(--text-primary);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-members tr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

.table-members thead tr {
    background-color: var(--table-secondary);
    border-bottom: 1px solid var(--field-focus);
}

.table-members tbody tr {
    height: 60px;
    border-bottom: 1px solid var(--table-primary);
}

.table-members tr th,
.table-members tr td {
    width: 100%;
    text-align: left;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

.table-members tr th {
    font-weight: 600;
}

.table-members tr th:first-child,
.table-members tr td:first-child {
    box-sizing: border-box;
    padding-left: 20px;
}

.table-members tr th:last-child,
.table-members tr td:last-child {
    box-sizing: border-box;
    padding-right: 20px;
}

.team-data-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.team-code-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    gap: 10px;
}

.team-code-wrapper.hidden {
    display: none;
}

.team-name {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: var(--text-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team-code-wrapper .input1-wrapper {
    height: 44px;
    border-radius: 10px;
}

.copy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    min-width: 44px;
    background-color: var(--button);
    border-radius: 10px;
    transition: background-color 0.5s;
    user-select: none;
}

.copy-button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
    transition: background-color 0.5s;
}