.content-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menu-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.menu-header h2 {
    font-size: 20px;
    line-height: 68px;
    font-weight: 600;
    color: var(--text-primary);
}

.header-options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 41px;
    width: 100%;
}

.header-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 144px;
    cursor: pointer;
    user-select: none;
}

.header-option p {
    font-size: 18px;
    color: var(--text-secondary);
    font-weight: bold;
}

.header-option.selected {
    border-bottom: 2px solid var(--violet);
}

.header-option.selected p {
    color: var(--text-primary);
}

.goals-page,
.help-page,
.profile-page,
.team-page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 109px);
}

.goals-page.hidden,
.help-page.hidden,
.profile-page.hidden,
.team-page.hidden {
    display: none;
}

.page-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--field-focus);
    padding: 20px 40px;
    box-sizing: border-box;
    gap: 10px;
}

.page-title h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-primary);
}

.page-title h4 {
    font-size: 20px;
    color: var(--text-secondary);
}

.config-page-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
    height: calc(100%);
    overflow-y: auto;
}

.config-page-container section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--field-focus);
    padding: 20px 600px 20px 40px;
    box-sizing: border-box;
    gap: 20px;
}

.section-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.section-title h4 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-primary);
}

.section-title h5,
.section-inputs h5 {
    font-size: 20px;
    color: var(--text-secondary);
}

.section-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-width: 580px;
}

.user-data-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.user-data-input .input1-wrapper {
    max-width: 400px;
}

.user-data-input .icon {
    position: absolute;
    right: 6px;
    top: 7px;
}

.user-data-button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.user-data-button .button2 {
    height: 36px;
}

.error-wrapper {
    font-weight: bold;
    color: var(--red);
    opacity: 0;
    user-select: none;
}

.error-wrapper.show {
    opacity: 1;
}