/* Estilo para o botão flutuante "+" */
.button-add-new {
    position: fixed; /* Posiciona o botão em relação à janela do navegador */
    bottom: 30px; /* Alinha o botão a 30px do fundo da página */
    right: 30px; /* Alinha o botão a 30px da direita da página */
    width: 60px; /* Define a largura do botão */
    height: 60px; /* Define a altura do botão */
    border-radius: 50%; /* Faz o botão ser redondo */
    background-color: #6200ea; /* Cor de fundo do botão */
    display: flex; /* Utiliza flexbox para alinhar conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo dentro do botão */
    justify-content: center; /* Centraliza horizontalmente o conteúdo dentro do botão */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao botão */
    z-index: 1000; /* Garante que o botão fique sobre outros elementos */
    transition: background-color 0.3s; /* Suave transição de cor de fundo ao passar o mouse */
}

.button-add-new:hover {
    background-color: #3700b3; /* Cor do botão quando o mouse está sobre ele */
}

.button-add-new:active {
    background-color: #29008a; /* Cor do botão quando está sendo clicado */
}

.button-add-new svg {
    fill: white; /* Cor do ícone SVG dentro do botão */
    width: 30px; /* Largura do ícone SVG */
    height: 30px; /* Altura do ícone SVG */
}

/* Contêiner de conteúdo da página */
.content-container {
    display: flex; /* Utiliza flexbox para alinhar conteúdo */
    align-items: center; /* Alinha conteúdo verticalmente ao centro */
    justify-content: flex-start; /* Alinha conteúdo horizontalmente ao início */
    flex-direction: column; /* Coloca os filhos em coluna */
    width: 100%; /* Largura total do contêiner */
    height: 100%; /* Altura total do contêiner */
}

/* Contêiner da tabela */
.table-container {
    width: 100%; /* Largura total do contêiner */
    height: 100%; /* Altura total do contêiner */
    min-width: 900px; /* Largura mínima da tabela */
    padding-right: 6px; /* Espaço à direita */
    margin-bottom: 10px; /* Espaço inferior */
    overflow-y: auto; /* Habilita rolagem vertical */
    box-sizing: border-box; /* Inclui padding e border no cálculo do width e height */
}

/* Estilo da tabela */
.table-container table {
    position: relative; /* Posicionamento relativo */
}

/* Cabeçalho da tabela */
.table-header {
    display: flex; /* Utiliza flexbox para alinhar conteúdo */
    justify-content: space-between; /* Distribui espaço igualmente entre os elementos */
    align-items: center; /* Alinha conteúdo verticalmente ao centro */
    gap: 160px; /* Espaço entre os elementos */
    height: 60px; /* Altura do cabeçalho */
    min-height: 60px; /* Altura mínima do cabeçalho */
    width: 100%; /* Largura total do cabeçalho */
    padding: 0 20px; /* Espaçamento interno horizontal */
    box-sizing: border-box; /* Inclui padding e border no cálculo do width e height */
}

/* Estilo do título do cabeçalho */
.table-header h2 {
    font-size: 20px; /* Tamanho da fonte */
    font-weight: 600; /* Peso da fonte */
    color: var(--text-primary); /* Cor do texto */
}

/* Contêiner dos botões no cabeçalho */
.table-header .buttons {
    display: flex; /* Utiliza flexbox para alinhar conteúdo */
    justify-content: center; /* Alinha conteúdo horizontalmente ao centro */
    align-items: center; /* Alinha conteúdo verticalmente ao centro */
    flex-direction: row; /* Coloca os filhos em linha */
    gap: 10px; /* Espaço entre os botões */
    width: auto; /* Largura automática */
    text-wrap: none; /* Impede quebra de linha do texto */
}

/* Estilo da tabela */
.table {
    width: 100%; /* Largura total da tabela */
    height: 100%; /* Altura total da tabela */
}

/* Estilo do cabeçalho da tabela */
.table thead {
    color: var(--text-secondary); /* Cor do texto */
    height: 60px; /* Altura do cabeçalho */
    position: sticky; /* Cabeçalho fica fixo no topo ao rolar */
    top: 0; /* Posiciona no topo */
    z-index: 1; /* Garante que o cabeçalho fique sobre outras linhas */
}

/* Estilo do corpo da tabela */
.table tbody {
    /* Sem estilos adicionais */
}

/* Estilo das linhas da tabela */
.table tr {
    display: flex; /* Utiliza flexbox para alinhar conteúdo */
    align-items: center; /* Alinha conteúdo verticalmente ao centro */
    justify-content: center; /* Alinha conteúdo horizontalmente ao centro */
    flex-direction: row; /* Coloca os filhos em linha */
    height: 100%; /* Altura total da linha */
}

/* Estilo das linhas do cabeçalho da tabela */
.table thead tr {
    background-color: var(--table-secondary); /* Cor de fundo do cabeçalho */
    border: 1px solid var(--table-primary); /* Borda ao redor do cabeçalho */
}

/* Estilo das linhas do corpo da tabela */
.table tbody tr {
    height: 60px; /* Altura das linhas do corpo */
    border-left: 1px solid var(--table-primary); /* Borda à esquerda das linhas */
    border-right: 1px solid var(--table-primary); /* Borda à direita das linhas */
    border-bottom: 1px solid var(--table-primary); /* Borda inferior das linhas */
}

/* Estilo das células da tabela */
.table tr th,
.table tr td {
    width: 100%; /* Largura total das células */
    text-align: left; /* Alinha o texto à esquerda */
    font-size: 16px; /* Tamanho da fonte */
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden; /* Oculta o excesso de conteúdo */
    text-overflow: ellipsis; /* Adiciona "..." ao conteúdo que ultrapassar o tamanho da célula */
    line-height: 20px; /* Altura da linha */
}

/* Estilo das células do cabeçalho */
.table tr th {
    font-weight: 600; /* Peso da fonte */
}

/* Estilo da primeira célula da linha */
.table tr th:first-child,
.table tr td:first-child {
    min-width: 60px; /* Largura mínima */
    max-width: 60px; /* Largura máxima */
}

/* Estilo da última célula da linha */
.table tr th:last-child,
.table tr td:last-child {
    min-width: 180px; /* Largura mínima */
    box-sizing: border-box; /* Inclui padding e border no cálculo do width */
    padding-right: 20px; /* Espaço à direita */
}

/* Contêiner dos botões da tabela */
.table-buttons {
    display: flex; /* Utiliza flexbox para alinhar conteúdo */
    align-items: center; /* Alinha conteúdo verticalmente ao centro */
    justify-content: flex-start; /* Alinha conteúdo horizontalmente ao início */
    flex-direction: row; /* Coloca os filhos em linha */
    gap: 20px; /* Espaço entre os botões */
}
