<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>
<content>
    <div class="content-container">
        <div class="table-header">
            <h2>Clientes</h2>
            <div th:replace="~{components/search :: search('pesquisar', 'Pesquisar', ~{icons/search/magnifying-glass :: magnifying-glass})}"></div>
            <div class="buttons">
                <div th:replace="~{components/button1 :: button('filtrar', 'Filtrar', ~{icons/buttons/filters :: filters})}"></div>
                <div th:replace="~{components/button1 :: button('exportar', 'Exportar', ~{icons/buttons/export :: export})}"></div>
            </div>
        </div>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>CPF/CNPJ</th>
                    <th>Serviço</th>
                    <th>Status</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Anexo</th>
                </tr>
                </thead>
                <tbody class="table-content">
                </tbody>
            </table>
        </div>
    </div>
</content>

<styles>
    <link rel="stylesheet" th:href="@{/styles/pages/clientes.css}"/>
    <link rel="stylesheet" th:href="@{/styles/components/search.css}"/>
    <link rel="stylesheet" th:href="@{/styles/components/button1.css}"/>
    <link rel="stylesheet" th:href="@{/styles/components/button-table.css}"/>
</styles>
</body>
</html>