<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>
<content>
    <div class="content-container">
        <div class="table-header">
            <h2>Clientes</h2>
            <div class="search-wrapper">
                <input placeholder="Pesquisar" type="text">
                 <div th:replace="~{icons/search/magnifying-glass :: magnifying-glass}"></div>
            </div>
            <div class="buttons">
                <div class="button">
                    <div th:replace="~{icons/search/filters :: filters}"></div>
                    Limpar Filtros
                </div>
                <div class="button">
                    <div th:replace="~{icons/search/export :: export}"></div>
                    Exportar
                </div>
            </div>
        </div>
    </div>
</content>

<styles>
    <link rel="stylesheet" th:href="@{/styles/pages/clientes.css}"/>
</styles>
</body>
</html>