<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Esfera</title>
    <link rel="stylesheet" th:href="@{/styles/reset.css}">
    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
    <link rel="stylesheet" th:href="@{/styles/sidebar.css}"/>
</head>
<body>
<div th:include="components/sidebar/sidebar :: sidebar"></div>

<div class="main">
    <div class="header">
        HEADER
    </div>

    <div class="frame">
        DYNAMIC CONTENT GOES HERE
    </div>
</div>
</body>
</html>
